
.profile-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  overflow: hidden;
}


.profile-banner {
  width: 100%;
  height: 200px;
  background: linear-gradient(135deg, #4CAF50, #81C784);
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin-top: -20px;
}
.upload-cover-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

.upload-cover-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Camera Icon */
.camera-icon {
  color: white;
}

/* Profile Icon */
.profile-icon {
  background-color: white;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 50px;
  left: 40%; /* Centers horizontally */
  transform: translate(-50%, -30%);
  cursor: pointer;
  overflow: hidden;
}

/* User Icon */
.person-icon {
  color: #4CAF50;
  transition: color 0.3s ease;
}

/* Uploaded Image */
.uploaded-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Edit Icon */
.edit-icon-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon {
  color: #4CAF50;
  transition: color 0.3s ease;
}

.edit-icon-container:hover .edit-icon {
  color: #2f855a;
}

.profile-details {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.profile-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.profile-date {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

