/* SideBar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background-color: #CAE0BC;
  padding: 0.6rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .icon-button {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.sidebar .icon {
  color: black;
  margin-right: 10px;
  font-size: 2rem;
}

.sidebar .icon-button:hover {
  background-color: #A5B68D;
}

.sidebar .icon-button:hover .icon {
  color: #27391C;
}

.sidebar .text-sm {
  font-size: 1rem;
  color: black;
}

.sidebar .text-sm:hover {
  color: white;
}

/* Inventory Button - Added */
.sidebar .inventory-button {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 80px;
  }

  .sidebar .icon-button {
    justify-content: center;
  }

  .sidebar .text-sm {
    display: none;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 60px;
    padding: 0.5rem;
  }

  .sidebar .icon {
    font-size: 1.5rem;
    margin-right: 0; 
  }

  .sidebar .icon-button {
    padding: 0.4rem;
  }

  .sidebar .text-sm {
    display: none;
  }
}
