/* SideBar.css */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #e4ebd4; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.icon-button {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease; 
  cursor: pointer;
}

.icon {
  color: #4b5563; 
  margin-right: 10px;
  font-size: 1.2rem;
}

.icon-button:hover {
  background-color: #e5e7eb; 
}

.icon-button:hover .icon {
  color: #4CAF50; 
}

.text-sm {
  font-size: 0.9rem;
  color: #4b5563;
}

.text-sm:hover {
  color: #4CAF50; 
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px; 
  }

  .icon-button {
    padding: 0.6rem;
  }

  .text-sm {
    font-size: 0.8rem; 
  }
}
